@use "../../../sass/media.scss" as *;

.textarea_textarea {
  border: 1px solid var(--color-light-gray);
  margin-bottom: 10px;
  width: 100%;
  padding: 10px 5px;
  &::placeholder {
    color: var(--color-gray);
    opacity: .3;
  }
}

.textarea_label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.textarea_error {
  font-size: 12px;
  position: absolute;
  top: 90%;
  left: 0;
  color: var(--color-red);
}