@mixin container {
  max-width: 1200px;
	margin: 0 auto;
  padding: 0 2%;
}

@mixin tablets {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones {
	@media screen and (max-width: 480px) {
		@content;
	}
}