@use '/src/sass/media' as *;

.burger {
  grid-area: burger;
  justify-self: flex-end;
  display: none;
  position: relative;
  &.active {
    &::before, &::after {
      content: '';
      background-color: var(--color-font);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &::before {
      top: 9px;
      transform: rotate(45deg);
    }
    &::after {
      bottom: 9px;
      transform: rotate(-45deg);
    }
    span {
      transform: scale(0);
    }
  }
  @include tablets {
    z-index: 100;
    display: block;
    width: 30px;
    height: 20px;
    &::after {
      content: '';
      background-color: var(--color-font);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease 0s;
    }
    &::before {
      content: '';
      background-color: var(--color-font);
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      transition: all 0.3s ease 0s;
    }
    span {
      background-color: var(--color-font);
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  }
}