.input_label {
  display: block;
  font-weight: 700;
}

.input_input {
  width: 100%;
  border-bottom: 1px solid var(--color-light-gray);
  padding: 10px 0;
  transition: all 0.3s ease 0s;
  background: var(--color-font);
  &::placeholder {
    color: var(--color-body);
    opacity: .3;
  }
  &:focus {
    border-bottom: 1px solid var(--color-header);
  }
}

.input_error {
  font-size: 12px;
  position: absolute;
  top: 107%;
  left: 0;
  color: var(--color-red);
}