.close {
  width: 20px;
  height: 20px;
  position: relative;
  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--color-drawer);
  }
  &:before {
    transform: rotate(45deg)
  }
  &:after {
    transform: rotate(-45deg)
  }
}