@use "../sass/media" as *;


.map_container {
  @include container;
  color: var(--color-font);
}

.map_content {
  display: grid;
  grid-template-columns: 1fr min-content;
  gap: 40px;
  @include tablets {
    grid-template-columns: 1fr;
  }
}

.map_loading {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-content: center;
}

