@use "../sass/rem.scss" as *;

.owner_filters {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
}

.owner_content {
  padding: 0 0%;
}