@use '../sass/media' as *;

.banner {
  display: grid;
  grid-template-columns: minmax(min-content, max-content)  minmax(160px, max-content);
  grid-template-areas: "content" "vegetable";
  justify-content: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  @include tablets {
    grid-template-columns:  minmax(150px, max-content);
    grid-template-areas: "vegetable"  "content" ;
    justify-content: center;
    margin-bottom: 5%;
  }
}

.banner_content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  @include tablets {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
}

.banner_title {
  white-space: nowrap;
  font-size: 62px;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: var(--color-purple-light);
  color: var(--color-white);
  text-shadow: 5px 5px var(--color-gray);
  z-index: 10;
  @include laptop {
    font-size: 48px;
  }
  @include tablets {
    text-align: center;
  }
  @include phones {
    font-size: 36px;
  }
}

.banner_list {
  display: grid;
  gap: 5px;
  grid-template-columns: max-content;
  position: relative;
  font-size: 18px;
  
  @include laptop {
    font-size: 16px;
  }
  @include phones {
    font-size: 14px;
  }
}

.banner_item {
  display: flex;
  align-items: center;
  font-weight: 300;

}

.banner_image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablets {
    grid-area: vegetable;
  }
  img {
    display: block;
    max-width: 100%;
    transition: 1s ease-in-out;
    display: flex;
    position: relative;
    &:hover {
      transform: rotate(45deg);
    }
  }
}

.banner_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
}