.cardbuy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardbuy_price {
  color: var(--color-white);
  font-weight: 300;
}

.cardbuy_sum {
  color: var(--color-black);
  font-weight: bold;
}

.cardbuy_add {
  color: var(--color-black);
  position: relative;
  .cross {
    fill: var(--color-orange-light);
    width: 25px;
    height: 25px;
    transition: .2s ease-in-out;
  }
  
  &__true {
    .cross {
      fill: var(--color-purple);
      transform: rotate(45deg);
    }
  }
  &__weight {
    position: relative;
      &::before {
        content: 'Выберите вес';
        background: rgba($color: white, $alpha: 1);
        font-size: 12px;
        white-space: nowrap;
        padding: 7px 10px;
        border-radius: 20px 20px 20px 20px;
        position: absolute;
        top: 117%;
        right: 39%;
        visibility: hidden;
        transition: .2s ease-in-out;
      }
      &:hover {
        &::before {
          visibility: visible;
        }
      }
    }
  &__disable {
    position: relative;
      &::before {
        content: 'Войдите в аккаунт';
        background: rgba($color: white, $alpha: 1);
        font-size: 12px;
        white-space: nowrap;
        padding: 7px 10px;
        border-radius: 20px 20px 20px 20px;
        position: absolute;
        top: 117%;
        right: 100%;
        visibility: hidden;
        transition: .2s ease-in-out;
      }
      &:hover {
        &::before {
          visibility: visible;
        }
      }
    }
}