.cardbuy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardbuy_price {
  color: var(--color-font);
  font-weight: 300;
}

.cardbuy_sum {
  color: var(--color-font-two);
  font-weight: bold;
}

.cardbuy_add {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(255,255,255, .5);
  border-radius: 5px;
  position: relative;
  &:hover {
    outline: none;
    background-color: var(--color-logo-one);

  }
  &:active {
    outline: none;
    background-color: var(--color-logo-two);
  }
  &::before, &::after {
    content: '';
    border-radius: 1px;
    background-color: var(--color-font);
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 1px;
    height: 10px;
  }

  &__true {
    background: var(--color-purple);
    outline: none;
    &::before, &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}