@use '../sass/media.scss' as *;

.cart-item {
  display: grid;
  grid-template-columns: 1fr;
}

.cart-item_container {
  display: grid;
  grid-template-columns: max-content 1fr minmax(max-content, 1fr) 1fr min-content;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #a2cc4e;
  align-items: center;
  justify-items: start;
  @include phones {
    font-size: 12px; 
  }
}

.cart-item-el {
  display: flex;
  justify-content: start;
}

.cart-item_delete-btn {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(255,255,255, .5);
  border-radius: 5px;
  position: relative;
  &:hover {
    outline: none;
    background-color: var(--color-logo-one);

  }
  &:active {
    outline: none;
    background-color: var(--color-logo-two);
  }
  &::before, &::after {
    content: '';
    border-radius: 1px;
    background-color: var(--color-font);
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    width: 1px;
    height: 10px;
  }
}

.cart-item_image {
  width: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  @include phones {
    width: 50px;
    border-radius: 15px;
  }
  img {
    max-width: 100%;
  }
}

.cart-item_weight {
  justify-self: end;
  padding: 5px 10px;
  background: var(--color-gold-dark);
}