@use "../sass/media" as *;

.comment-item {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--color-font);
  &:last-child {
    margin-bottom: 0;
  }
}

.comment {
  color: var(--color-font);
  display: grid;
  grid-template-columns:  1fr;
  justify-items: flex-start;
  gap: 10px;
  align-items: center;
}

.comment_image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}


.comment_img {
  max-width: 100%;
}



.comment_name {
  background-color: var(--color-purple);
  padding: 5px 10px;
  border-radius: 10px;
  @include phones {
    font-size: 14px;
  }
}