@use '../sass/media' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100% ;
  padding: 0.5% 0;
  background: var(--color-header);
  background: rgba(52, 56, 58, .5);
  // box-shadow: 0px 1px 15px black;
  color: white;
  margin-bottom: 2%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-header);
    background: rgba(52, 56, 58, .5);
    // background: blue;
  }
}

.header_container {
  @include container;
  color: var(--color-font);
}

.header_body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'logo burger menu';
  align-items: center;
}

