@use '../sass/media' as *;

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1% 0;
  color: white;
  border-bottom: 1px solid #a2cc4e;
  z-index: 100;
  margin-bottom: 2%;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: blue;
  }
}

.header_container {
  @include container;
  color: var(--color-font);
}

.header_body {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'logo burger menu';
  align-items: center;
}

