.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
}

.login-form_row {
  position: relative;
  &__center {
    text-align: center;
  }
}

.login-form_registration-btn {
  color: var(--color-orange-light)
}