@use '../sass/media.scss' as *;

.owner-info {
  border-bottom: 1px solid var(--color-background-one);
  color: var(--color-font-two);
  padding-bottom: 4%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 45px;
  align-items: center;
}

.onwer-info_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


