.owner-info {
  border-bottom: 1px solid #a2cc4e;
  color: var(--color-font-two);
  padding-bottom: 4%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 45px;
  align-items: flex-start;
}

.onwer-info_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 45px;
  border-right: 1px solid #a2cc4e;
}


