@use '../sass/media.scss' as *;

.owner-info-content {
  color: var(--color-white);
}

.owner-info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 300;
  font-size: 18px;
  @include tablets {
    font-size: 16px;
  }
  @include phones {
    font-size: 14px;
  }
  
}

.owner-info-content_name {
  font-size: 60px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1.5%;
  @include laptop {
    font-size: 54px;
  }
  @include tablets {
    font-size: 48px;
  }
  @include phones {
    font-size: 24px;
  }
}