@use "../sass/media" as *;

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content max-content;
  gap: 30px;
  @include tablets {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  @include phones {
    gap: 10px;
  }
}