.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 14%;
  font-size: 14px;
  outline: 1px solid #a2cc4e;
  border-radius: 52px;
  color: var(--color-font-two);
  transition: 0.2s ease-in-out;
  &:hover {
    box-shadow: 0px 5px 20px rgb(0 0 0 / 60%);
    transform: translateY(-5px);
    // outline: none;
  }
}

.card_favorite {
  width: 25px;
  height: 25px;
}

.card_favoriteIcon {
  fill: transparent;
  stroke-width: 30;
  stroke: rgba(255, 255, 255, .5);
  &:hover {
    fill: var(--color-logo-one);
    stroke: transparent;
  }
  &:active {
    fill: var(--color-gold);
    stroke: transparent;
  }
  
  &__active {
    fill: var(--color-gold);
    stroke: transparent;
  }

}

.card_add {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(255,255,255, .5);
  border-radius: 5px;
  position: relative;
  &:hover {
    outline: none;
    background-color: var(--color-logo-one);

  }
  &:active {
    outline: none;
    background-color: var(--color-logo-two);
  }
  &::before, &::after {
    content: '';
    border-radius: 1px;
    background-color: var(--color-font);
    width: 10px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    width: 1px;
    height: 10px;
  }

  &__true {
    background: var(--color-purple);
    outline: none;
    &::before, &::after {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.card_image {
  // width: 70px;
  // height: 70px;
  padding: 0 10%;
  margin-bottom: 12%;
  display: flex;
  align-items: center;
  overflow: hidden;
  img {
    max-width: 100%;
  }
}

.card_vegetable {
  font-size: 16px;
  margin-bottom: 6%;
}

.card_buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_price {
  color: var(--color-font);
  font-weight: 300;
}

.card_sum {
  color: var(--color-font-two);
  font-weight: bold;
  
}